.titleScreen{
    text-align: center;
    background-color:#E4D6E3;
    padding: 100px 0px 100px 0px;
    max-width: 1200px;
    margin: auto;
}
ul.horizontalList{
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
    
}
ul.horizontalList li{
    float:left;
    width: 80px;
    height: 120px;
}
ul.horizontalList li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: lightgreen;
    width: 80px;
    height: 120px;
}
ul.horizontalList li a:hover{
    background-color: mediumseagreen;
}
ul.horizontalList li:first-child{
    border-left: none;
}
.mainScreen{
    max-width:1200px;
    margin: 0 auto;
    margin-top:20px;
    border: 2px solid black;
    padding: 5px;
}
*{
    box-sizing: border-box;
}